<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/AddacademicYear.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title th:if="${titlePage=='update'}">Edit Academic Year</title>
    <title th:if="${titlePage=='add'}">Add Academic Year</title>
</head>



<body>
<div class="d-flex" id="wrapper">
    <!-- /#sidebar-wrapper -->
<!--    <div th:replace="header :: header"></div>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                                <div class="d-flex align-items-center" th:if="${titlePage=='add'}">
                                    <h2 class="fs-2 m-0">Add Academic Year </h2>

                                </div>
                                <div class="d-flex align-items-center"  th:if="${titlePage=='update'}">
                                    <h2 class="fs-2 m-0">Edit Academic Year </h2>
                                </div>
            </div>
        </nav>
        <div class="alert alert-danger" role="alert" th:if="${hasError}">
            <p th:utext="${error.replaceAll('\n', '<br/>')}"></p>
        </div>

        <br>
        <div class="wrapper">
            <form class="g-3" action="#" th:action="@{/academic_year/save}" th:object="${academic_year}" method="post">
                <div class="form-group row">

                    <div class="col-sm-10">
                        <input type="hidden"  th:field="*{id}" >
                    </div>
                    <div class="col-sm-10">
                        <input type="hidden" id="currentUrl" name="currentUrl" value="">
                    </div>

                <div class="col-sm-10">
                    <input type="hidden" name="titlePage" th:value="${titlePage}" />
                    <label for="description">Title</label>
                    <input type="text"  th:field="*{title}" class="input" placeholder="title">
                </div>

                <div class="col-sm-10">
                    <label for="description">Description</label>
                    <input type="text"  th:field="*{discription}" class="form-control" id="description" placeholder="Description">
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <label for="inputClosuredate" class="form-label">Closure date</label>
                        <input type="date" th:field="*{closureDate}" class="form-control" id="inputClosuredate">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <label for="inputFinalClosuredate" class="form-label">Final Closure date</label>
                        <input type="date" th:field="*{finalClosureDate}"  class="form-control" id="inputFinalClosuredate">
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a type="button" th:href="@{/academic_year}" class="btn btn-secondary">Close</a>
                    </div>
                </div>
                </div>
            </form>
        </div>

    </div>
    <br>
    <br>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var currentUrl = window.location.href;
        document.getElementById("currentUrl").value = currentUrl;
    });

    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>
</body>

</html>