<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Approved Article Management</title>
</head>

<body th:style="'background-image: url(' + @{/image/University-of-Greenwich_out.png} + ')'">
<div >
    <div th:replace="header :: header"></div>
    <!-- Page Content -->
    <div class="container">

        <div class="d-flex align-items-center">
            <h2 class="fs-0 m-0">Approved Article Management</h2>
        </div>

        <br>
        <form id="academicYearForm" th:action="@{/article/search}" method="get">
            <div class="btn btn-secondary btn-sm dropdown-toggle">
                <label for="academic">Academic Year</label>
                <select id="academic" name="academicYearId">
                    <option>Select Academic Year</option>
                    <option th:each="academic : ${academicYears}" th:value="${academic.id}" th:text="${academic.title}"></option>
                </select>
            </div>
            <button id="submitFormBtn" style="display: none;"></button>
        </form>

        <br>
        <div class="col">
            <table class="table bg-white rounded shadow-sm  table-hover">
                <thead>
                <tr>
                    <th scope="col" width="50" >STT</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="article : ${articles}">
                    <th scope="col" width="50" class="id"></th>
                    <td th:text="${article.title}">...</td>
                    <td th:text="${article.discription}">...</td>
                    <td th:text="${article.user.fullName}">...</td>
                    <td th:text="${article.user.faculty.name}">...</td>

                    <td>
                        <a th:href="@{/comment(id=${article.id})}" class="btn btn-info"> View Detail </a>
                        <a th:href="@{/article/publish(id=${article.id})  }" class="btn btn-success">Publish</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <form th:action="@{/file/multi-download}" method="get" enctype="multipart/form-data">

            <input type="hidden" th:attr="value=${fileNames}" name="fileNames" id="fileNames">

            <button class="btn btn-info" id="down-btn" >Download</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    window.addEventListener('scroll', function () {
        var header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0);
    });
</script>

<script>
    window.onload = function() {
        let tr = document.querySelectorAll("tbody tr");
        let downloadButton = document.getElementById("down-btn");

        const idItems = document.querySelectorAll('.id')

        if (tr.length === 0) {
            downloadButton.style.display = "none";
            console.log("appear");
        } else {
            console.log("No");
            downloadButton.style.display = "block";
        }

        idItems.forEach( (idItem, index) => {
            idItem.innerText = index+1
        } )

    };
</script>

<script th:inline="javascript">
    $(document).ready(function(){
        $('#academic').change(function(){
            $('#submitFormBtn').click();
        });

        $('#submitFormBtn').click(function() {
            $('#academicYearForm').attr('action', '/article/search');
            $('#academicYearForm').submit();
        });
    });

</script>

<!--Restful api-->
<!--<script th:inline="javascript">-->
<!--    $(document).ready(function(){-->
<!--        $('#academic').change(function(){-->
<!--            var selectedId = $(this).val(); // Lấy giá trị id được chọn-->
<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "/article/search", // Thay đổi đường dẫn tới mapping của bạn-->
<!--                data: { id: selectedId }, // Gửi id được chọn qua POST request-->
<!--                success: function(response){-->
<!--                    // Xử lý phản hồi từ server nếu cần-->
<!--                },-->
<!--                error: function(xhr, status, error){-->
<!--                    console.log(error); // Xử lý lỗi nếu cần-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };

</script>
</body>

</html>