<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
    <head>
        <title>Registration Form</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>


        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" th:href="@{/css/user.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
  
  <body th:style="'background-image: url(' + @{/image/UoG-Office.png} + ')'">
    <div class="wrapper">
        <form  action="#" th:action="@{/register/save}" th:object="${user}" method="POST" enctype="multipart/form-data">
            <h1>Register</h1>
            <input type="hidden" th:field="*{id}" >

            <div th:if="${userExisted}" class="alert alert-danger">
                <span th:text="${userExisted}"></span>
            </div>

            <div class="input-box">
                <input type="text" th:field="*{fullName}" placeholder="Full Name" >
<!--                validation-->
                <div th:if="${#fields.hasErrors('fullName')}">
                    <ul>
                        <li th:each="e: ${#fields.errors('fullName')}" th:text="${e}"> </li>
                    </ul>
                </div>

                <box-icon type='solid' name='user'></box-icon>
            </div>

            <div class="input-box">
                <input type="text" th:field="*{username}" placeholder="Username">
                <!--                validation-->
                <div th:if="${#fields.hasErrors('username')}">
                    <ul>
                        <li th:each="e: ${#fields.errors('username')}" th:text="${e}"> </li>
                    </ul>
                </div>

                <box-icon type='solid' name='lock-open-alt'></box-icon>
            </div>

            <div class="input-box">
                <input type="password" th:field="*{password}" placeholder="Password">
                <div th:if="${#fields.hasErrors('password')}">
                    <ul>
                        <li th:each="e: ${#fields.errors('password')}" th:text="${e}"> </li>
                    </ul>
                </div>

                <box-icon type='solid' name='lock-open-alt'></box-icon>
            </div>

            <div class="input-box">
                <input type="text" th:field="*{email}" placeholder="Email">
                <div th:if="${#fields.hasErrors('email')}">
                    <ul>
                        <li th:each="e: ${#fields.errors('email')}" th:text="${e}"> </li>
                    </ul>
                </div>

                <box-icon type='solid' name='lock-open-alt'></box-icon>
            </div>

            <div class="input-box">
                <label for="faculty">Faculty: </label>
                <select id="faculty" th:field="*{faculty.id}">
                    <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:text="${faculty.name}"></option>
                </select>
            </div>

<!--            <div class="input-box">-->
<!--                <input type="date" th:field="*{dateOfBirth}" placeholder="Date of Brith">-->
<!--            </div>-->

            <div class="input-box">
                <input type="text" th:field="*{address}"  placeholder="Address">
                <div th:if="${#fields.hasErrors('address')}">
                    <ul>
                        <li th:each="e: ${#fields.errors('address')}" th:text="${e}"> </li>
                    </ul>
                </div>
            </div>



            <div class="input-box">
                <label for="role">Role: </label>

                <div th:if="${roles instanceof T(java.util.List)}">
                    <select id="roles" th:field="*{role.id}">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
                    </select>
                </div>


                <div th:unless="${role instanceof T(java.util.List)}">
                    <select id="role" th:field="*{role.id}">
                        <option th:each="r : ${role}" th:value="${r.id}" th:text="${r.roleName}"></option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <input type="hidden"  th:field="*{avatar}" >
                <label>Avatar</label>
                <input type="file" name="image" id="image" accept="image/png, image/jpg">
            </div>

            <div class="remeber-forgot">
                <label>
                    <input type="checkbox"> I agree to the  Terms  and Conditions
                </label>
            </div>
            <button class="btn"> Register</button>
        </form>
    </div>
  </body>
</html>