<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" th:href="@{/css/contribution.css}" />
  <title>ArticleManagement</title>
</head>

<body>
<div class="d-flex" id="wrapper" th:style="'background-image: url(' + @{/image/University-of-Greenwich_out.png} + ')'">
  <!-- Sidebar -->
  <div th:replace="header :: header"></div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
      <div class="d-flex align-items-center">
        <h2 class="fs-2 m-0">ContributionManagement</h2>
      </div>
    </nav>

    <br>
    <br>
    <div class="col">
      <a th:href="@{/article/showForm}"><button class="btn btn-primary">Add Article</button></a>
      <table class="table bg-white rounded shadow-sm  table-hover">
        <thead>
        <tr>
          <th scope="col" width="50">#</th>
          <th scope="col">Title</th>
          <th scope="col">Decription </th>
          <th scope="col">Upload date</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
          <th scope="row"></th>
          <td th:text="${article.title}"></td>
          <td th:text="${article.discription}"></td>
          <td th:text="${article.uploadDate}"></td>
<!--          <td th:if="${article.status == 'FALSE'}" style="color: chocolate">Waiting</td>-->
<!--          <td th:if="${article.status == 'TRUE'}"  style="color: aqua">Approved</td>-->
          <td th:text="${article.status}"></td>
          <td><a th:href="@{/article/showFormUpdate(id=${article.id})  }"><button class="btn btn-primary">Edit</button></a>
            <a th:href="@{/article/delete(id=${article.id})  }"><button class="btn btn-danger">Delete</button></a>
            <a th:href="@{/comment(id=${article.id})}"><button class="btn btn-info">View Detail</button></a></td>
          </td>

        </tr>

        </tbody>
      </table>

    </div>
  </div>

</div>
<div th:replace="footer :: footer"></div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  var el = document.getElementById("wrapper");
  var toggleButton = document.getElementById("menu-toggle");

  toggleButton.onclick = function () {
    el.classList.toggle("toggled");
  };
</script>


</body>
</html>
