
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 0;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    font-weight: bold;
    color: #051541;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #051541;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

.school-logo{
    width: 150px;
    height: 75px;
}

.school-icon{
    width: 45px;
    height: 45px;
}



