<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta name="viewport" content="width=device-width , ontoal-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="hero">

    <nav th:style="'background-image: url(' + @{/image/University-of-Greenwich_out.png} + ')'">
        <img th:src="@{/image/Shool-name-Greenwich.png}" class="schoolName" />
        <ul>
            <li><a th:href="@{/home}">HOME</a></li>
            <li><a th:href="@{/home/about}">ABOUT</a></li>
            <li><a th:href="@{/home/contact}">CONTACT</a></li>
            <li><a th:href="@{/home/help}">HELP</a></li>

        </ul>
        <img th:src="@{/image/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.ico}" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <h2></h2>
                    <img src="logo.png" alt="" />

                </div>
                <hr>

                <a th:href="@{/faculty}" sec:authorize="hasAnyRole('ADMIN')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Faculty
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{/academic_year}" sec:authorize="hasAnyRole('ADMIN')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Annual Magazine Management
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{/article}" sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'STUDENT', 'MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Contribution Management
                    </p>
                    <!--                    <span>></span>-->
                </a>

                <a th:href="@{/statisticManagement}" sec:authorize="hasAnyRole('MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Statistic Management
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{home/profile}" sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'STUDENT', 'MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Profile
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{home/helpStudent}" sec:authorize="hasAnyRole('STUDENT')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Help about function
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{home/helpCoor}" sec:authorize="hasAnyRole('COORDINATOR')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Help about function
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{home/helpManager}" sec:authorize="hasAnyRole('MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Help about function
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{/login?logout}" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Logout
                    </p>
                    <!--                    <span>></span>-->
                </a>

            </div>
        </div>



    </nav>
</div>

<div class="container pt-5 pb-5">
    <p style="font-size: 50px"><b>Help page</b></p>
    <div class="row" style="justify-content: space-around ">
        <div class="col-md-8 col-sd-12" >
            <img th:src="@{/image/loginPage.png}" style="width: 80%"/>
            <p>Step 1: Visit the login website of the Countribution Management system</p>
            <p>Step 2: Enter your username and password</p>
            <p>Step 3: Click the Sign In button.</p>
            <p>Note:</p>
            <p>Remember me: Check this box if you want your computer to store
                your sign-in information for the next time you sign in.
            </p>
            <p>If you forgot your password, click the Forgot password? to reset your password.
            </p>
            <p>If you don't have an account, click the Sign up link to create a new account.
            </p>


        </div>
    </div>
    <div class="row pt-5" style="justify-content: space-around ">
        <div class="col-md-8 col-sd-12" >
            <img th:src="@{/image/registerPage.png}" style="width: 80%"/>
            <p>Step 1: Visit the registration website of the countribution management system
            </p>
            <p>Step 2: Fill in the corresponding fields including:
            </p>
            <p>Full name: Enter your full name.</p>
            <p>Username: Enter the username you want to use.</p>
            <p>Password: Enter the password you want to use.</p>
            <p>Confirm password: Re-enter your password to confirm.</p>
            <p>Email: Enter your email address.</p>
            <p>Step 3: Choose your faculty and role.</p>
            <p>Step 4: Choose a profile picture for your account (optional).</p>
            <p>Step 5: Click the Register button. After activating your account,
                you can log in using your username and password.
            </p>
        </div>
    </div>
</div>
<br> <br><br><br><br><br><br><br><br><br><br><br>
<div th:replace="footer :: footer"></div>
<script  th:src="@{/js/homepage.js}" > </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>

</body>

</html>











