<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta name="viewport" content="width=device-width , ontoal-scale=1.0">
    <title>Help about function</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="hero">

    <nav th:style="'background-image: url(' + @{/image/University-of-Greenwich_out.png} + ')'">
        <img th:src="@{/image/Shool-name-Greenwich.png}" class="schoolName" />
        <ul>
            <li><a th:href="@{/home}">HOME</a></li>
            <li><a th:href="@{/home/about}">ABOUT</a></li>
            <li><a th:href="@{/home/contact}">CONTACT</a></li>
            <li><a th:href="@{/home/help}">HELP</a></li>

        </ul>
        <img th:src="@{/image/Icon-Truong-Dai-hoc-Greenwich-Viet-Nam.ico}" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <h2></h2>
                    <img src="logo.png" alt="" />

                </div>
                <hr>

                <a th:href="@{/faculty}" sec:authorize="hasAnyRole('ADMIN')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Faculty
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{/academic_year}" sec:authorize="hasAnyRole('ADMIN')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Annual Magazine Management
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{/article}" sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'STUDENT', 'MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Contribution Management
                    </p>
                    <!--                    <span>></span>-->
                </a>

                <a th:href="@{/statisticManagement}" sec:authorize="hasAnyRole('MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Statistic Management
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{home/profile}" sec:authorize="hasAnyRole('ADMIN', 'COORDINATOR', 'STUDENT', 'MANAGER')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Profile
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{home/helpCoor}" sec:authorize="hasAnyRole('COORDINATOR')" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Help about function
                    </p>
                    <!--                    <span>></span>-->
                </a>
                <a th:href="@{/login?logout}" class="sub-menu-link">
                    <img th:src="@{/image/profile.png}"/>
                    <p>
                        Logout
                    </p>
                    <!--                    <span>></span>-->
                </a>

            </div>
        </div>



    </nav>
</div>

<div class="container pt-5 pb-5">
    <p style="font-size: 50px"><b>Help With Role Coordinator</b></p>
    <div class="row pt-5" style="justify-content: space-around ">
        <div class="col-md-8 col-sd-12" >
            <h3>View detail article and feedback function</h3>
            <img th:src="@{/image/feedbackCoordinator.png}" style="width: 80%"/>
            <p>Step 1: Click the View detail button in feedback management page.
            </p>
            <p>Step 2: Sau khi đã có giao diện như bên dưới thì coordinator có thể xem và điền feedback vào ô Replying Feedback
            </p>
            <img th:src="@{/image/feedbackStudent.png}" style="width: 80%"/>
            <p>Step 3: Click the Send Feedback button.</p>
            <p>Step 4: Ngoài ra coordinator có thể nhấn approved nếu bài báo được duyệt và rejeck nếu bài báo chưa được duyệt</p>

        </div>
    </div>
</div>
<!--<br> <br><br><br><br><br><br><br><br><br><br><br>-->
<div th:replace="footer :: footer"></div>
<script  th:src="@{/js/homepage.js}" > </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>

</body>

</html>











