<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta name="viewport" content="width=device-width , ontoal-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="hero">

    <nav>
        <img th:src="@{/backgroundImage/Greenwich.jpg}" class=" logo" />
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICE</a></li>
            <li><a href="#">MANAGE</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">REGISTER</a></li>


        </ul>
        <img th:src="@{/backgroundImage/Greenwich.jpg}" class="user-pic" onclick="toggleMenu()">
        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <h2 sec:authentication="principal.username"></h2>
                    <br>
                    <h2 sec:authentication="principal.authorities"></h2>
                    <img src="logo.png" alt="" />

                </div>
                <hr>

                <a href="#" class="sub-menu-link">
                    <img th:src="@{/backgroundImage/profile.png}" />
                    <p>
                        Edit Profile
                    </p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img th:src="@{/backgroundImage/settingICO.png}" />
                    <p>
                        Setting & Privacy
                    </p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img th:src="@{/backgroundImage/questionICO.png}" />
                    <p>
                        Help & Support
                    </p>
                    <span>></span>
                </a>
                <form th:action="@{/logout}" method="post">
                    <button class="sub-menu-link">
                        <img src="log-out.png" />
                        <p>
                            Logout
                        </p>

                    </button>
                </form>


            </div>
        </div>
    </nav>

</div>
<div class="d-flex" id="wrapper">
    <div th:replace="header :: header"></div>
    </div>

<script  th:src="@{/js/homepage.js}" > </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>
    <h1>Home Page 1234</h1>
</body>

</html>


